@model WebAtividadeEntrevista.Models.ClienteModel
@{
    ViewBag.Title = "Alterar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Alterar", "Cliente", new { area = "" })';
        var obj = @Html.Raw(Json.Encode(Model));
        var urlRetorno = '@Url.Action("Index", "Cliente", new { area = "" })';
        var urlAlterarBenef = '@Url.Action("Alterar", "Beneficiario", new { area = "" })';
        var urlIncluirBenef = '@Url.Action("Incluir", "Beneficiario", new { area = "" })';
        var urlListarBenef ='@Url.Action("BeneficiarioList", "Beneficiario", new { area = "" })';
        var urlModal = '@Url.Action("Index", "Beneficiario")';
        var urlDeleteBenef = '@Url.Action("Delete", "Beneficiario")';
    </script>
    @Scripts.Render("~/bundles/benef")
    @Scripts.Render("~/bundles/altbenef")
    @Scripts.Render("~/bundles/mascara")
    @Scripts.Render("~/bundles/altClientes")
    <script>
        listBenef(@Html.Raw(Model.Id.ToString()));
    </script>
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")

@section modals{
    <div id="modal" class="modal fade" role="dialog" />
}
