
@{
    ViewBag.Title = "Cadastrar Cliente";
}
@section scripts{
    <script>
        var urlPost = '@Url.Action("Incluir", "Cliente", new { area = "" })';
        var urlModal = '@Url.Action("Index", "Beneficiario")';
        var urlIncluirBenef = '@Url.Action("Incluir", "Beneficiario", new { area = "" })';
    </script>
    @Scripts.Render("~/bundles/clientes")
    @Scripts.Render("~/bundles/mascara")
    @Scripts.Render("~/bundles/benef")
    @Scripts.Render("~/bundles/altbenef")
}
<h2>@Html.Raw(ViewBag.Title)</h2>
@Html.Partial("Forms")

@section modals{
    <div id="modal" class="modal fade" role="dialog"/>
}